#page{
  display: flex;
  flex-direction: column;
  margin: 0 auto ;
  align-items: center;
  max-width: 1200px;
}

#header{
  display: flex;
  flex-direction: column;
  margin: 0 auto ;
  align-items: center;
  border-bottom: 3px solid #e4d5bf;
  width: 100%;
  letter-spacing: 4px;
  padding: 10px;
  margin-bottom: 60px;
}

#first-species-box{
  width: 100%;
}
